<div class="header-column justify-content-start">
    <div class="header-row">
        <nav class="header-nav-top">
            <ul class="nav nav-pills">
                <li class="nav-item nav-item-anim-icon">
                    <a class="nav-link pl-0" href="#"><i class="fas fa-angle-right"></i> Kantor Desa</a>
                </li>
                <li class="nav-item nav-item-anim-icon">
                    <a class="nav-link" href="#"><i class="fas fa-angle-right"></i> Aspirasi Desa</a>
                </li>
            </ul>
        </nav>
    </div>
</div>